    .landingP {
        position: relative;
        height: 100%;
    }

    .landingP::before {
        content: "";
        position: absolute;
        opacity: 0.90;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /* background-image: url(../../Media/Galaxy.jpg);
        background-size: cover; */
        background: rgb(0, 0, 0);
        background: linear-gradient(94deg, rgb(0, 0, 0) 0%, rgb(1, 25, 112) 100%);
        height: 100%;
    }


    .i {
        position: relative;
        display: flex;
        height: 100vh;
    }

    .i_left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .i_right {
        flex: 1;
        position: relative;
        z-index: 2;
    }

    .ileft_wrapper {
        padding: 50px;
        height: 50%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .i_hola {
        font-size: 30px;
        font-weight: 300;
        color: aliceblue;
        margin-bottom: 0;
    }

    .i_name {
        font-size: 60px;
        margin-top: 0%;
        margin-bottom: 0%;
        text-shadow: -.5px 0.5px 0 #6f93af;
    }

    .i_title {
        height: 50px;

    }

    .title_item {
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        color: #04589F;
        text-shadow: -.5px 0.5px 0 #5b9ed4;
        border-bottom: 2px solid grey;
        width: 70%;
    }

    .i_bg {
        clip-path: inset(0 0 0 17.9%);
        background: url(../../Media/Galaxy.jpg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .i_img {
        clip-path: polygon(0 0, 72% 0, 80% 50%, 72% 100%, 0 100%, 0 51%);
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
    }

    .i_description {
        padding: .7cm;
        padding-left: 0cm;
        width: 73%;
        color: aliceblue;
    }

    .c {
        position: relative;
        /* height: 100%; */
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* .c_left {
        align-items: center;
    } */
    /* 
    .c_img {} */

    .c_right {
        height: 50vh;
        position: relative;
        justify-content: center;
        flex-direction: column;
    }

    .c_title {
        font-size: 60px;
        display: flex;
        justify-content: center;
        text-shadow: -.5px 0.5px 0 #6f93af;
    }

    .c_info_item {
        display: flex;
        align-items: center;
        margin: 15px 0px;
        font-weight: bold;
        color: aliceblue;
    }

    .c_icon {
        width: 25px;
        height: 25px;
        margin: 10px;
    }

    .divider {
        position: relative;
    }