.port {
    position: relative;
}

.port::before {
    content: "";
    position: absolute;
    opacity: 0.90;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(94deg, rgb(0, 0, 0) 0%, rgb(1, 25, 112) 100%);
    padding-top: 2cm;
}

.titlePort {
    position: relative;
    margin: 0;
}